.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.pdf
*.png
*.DS_Store
CAF2021_parModes_*.txt
CAF2021_parMAP_*.rds
MCMC_*.RData
tmp*
weather/clim_Icafe&IMN_red_train2.csv
BC/BC_2021-04-10_200000/
*.66
CAF2021_parModes_09_11_truncated.xlsx
BC_04_56.RData
